/* Style for the navigation bar */
.navbar {
    background-color: #333;
    padding: 10px 0;
    color: #fff;
}

/* Style for the navigation list */
.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Style for navigation items */
.nav-item {
    margin: 0 10px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.selected {
    text-decoration: underline;
}

.nav-item a:hover {
    text-decoration: underline;
}