@import "../styles/index.scss";

.navbar-container {
  padding: 30px 120px;
  box-shadow: 0px 5px 25px 4px #fefefe, 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  .heading-container {
    @include flex-mixin(flex, space-between, center);
  }
  .action-button-container {
    @include flex-mixin(flex, space-between, center);
    img {
      width: 25px;
      height: 25px;
      padding: 0 5px;
    }
  }
  .heading {
    margin: 0;
    font-size: 20px;
    color: $theme_black;
    font-weight: 500;
  }
}

.navbar {
  padding: 5px 0;
  box-shadow: 0px 5px 25px -25px #dedede, 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  .nav-list {
    margin: 15px 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

    .nav-item {
      padding-right: 50px;
      &:last-child {
        padding-right: 0;
      }
      a {
        font-weight: 600;

        color: $theme_black;
        text-decoration: none;
        font-size: 14px;
      }
      &:hover {
        opacity: 0.5;
        transition: all 0.3 ease;
      }
      &.selected {
        color: $theme_blue;
        text-decoration-thickness: 4px;
        text-decoration: underline;
        text-underline-offset: 22px;
      }
    }
  }
}

// /* Style for the navigation list */
// .nav-list {
//   list-style: none;
//   padding: 0;
//   display: flex;
//   justify-content: center;
// }

/* Style for navigation items */
// .nav-item {
//   margin: 0 10px;
// }

// .selected {
//   text-decoration: underline;
// }

// .nav-item a:hover {
//   text-decoration: underline;
// }
