@import "../../styles/index.scss";

.sorting {
  @include flex-mixin(flex, flex-end, center);
  h1 {
    font-size: 14px;
    color: $theme_black;
    padding-right: 10px;
    font-weight: 500;
  }
  input {
    border: 1px solid $theme_black;
    color: $theme_black;
    width: 175px;
    border-radius: 5px;
    padding: 4px 6px;
  }
}

.add-to-cart-btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 4px 10px;
  border: 1px solid $theme_blue;
  background-color: $theme_blue;
  color: $theme_white;
  visibility: hidden;
  font-weight: 500;
  margin: 10px 0;
  &:hover {
    opacity: 0.5;
  }
}
.disabled {
  opacity: 0.5;
}

.book {
  &:hover {
    .add-to-cart-btn {
      visibility: visible;
    }
  }
}

.no-data-found {
  width: 100%;
  @include flex-mixin(flex, center, '');
  color: $theme_blue;
  font-size: 20px;
}